{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>😜</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
    <style>
        .header {
            height: 80px;
            background: #101010;
            color: aqua;
        }
        .content {
            width: 250px;
            height: 1600px;
            background: #141414;
            margin-top: 10px;
        }
        .text {
            color: aqua;
            margin-top: 20px;
            font-family: monospace;
            font-size: 14px;
            text-decoration: none;
        }
        .background_button {
            background: aqua;
            {##4bff00#}
            padding: 7px 10px;
            color: white;
            text-decoration: unset;
            border-radius: 10px;
            font-size: 15px;
            font-family: monospace;
        }
        .button {
            background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;"
        }
    </style>
</head>
<body style="background: #323232">

<div class="header">
    <h1>
        <a href="{% url 'core:index' %}" style="
            padding: 5px 10px;
            color: aqua;
            text-decoration: unset;
            border-radius: 10px;
            font-size: 56px;
            font-family: monospace;
            margin-left: 20px;
            margin-top: 20px;
            " >LMS</a>
    </h1>
</div>

<div style="color: aqua; background: #141414" align = "center";>
    <form>
      <label >First name:</label>   
      <input class="button" type="text" name="first_name"><br><br>

      <label>Last name:</label>
      <input type="text" name="last_name" class="button"><br><br>

      <label>Rating:</label>
      <input class="button" type="number" name="rating" min="0" max="100"><br>

      <div class="background_button">
      <a href="{% url 'students:create'%}">
        <input type="button" value="Create" class="button">

        <input type="submit" value="Search" class="button">
      </div>
    </form>

</div>

<div align = "center">
    <div class="content">
        {% for student in students %}
            <a href="{% url 'students:edit' student.uuid %}"
            class="text" >
{#            {{ student.id }}#}
            {{ student.first_name }}
            {{ student.last_name }}
            {{ student.rating }}</a>
            <br>
        {% endfor %}
    </div>
</div>

</body>

</html>