{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}
        <title>LMS</title>
{% endblock %}
{% block link %}
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
{% endblock %}
{% block style %}
    <style>
        .header {
            height: 80px;
            background: #101010;
            color: aqua;
        }
        .content {
            width: 250px;
            height: 1600px;
            background: #141414;
            margin-top: 10px;
        }
        .text {
            color: aqua;
            margin-top: 20px;
            font-family: monospace;
            font-size: 14px;
            text-decoration: none;
        }
        .background_button {
            background: aqua;
            {##4bff00#}
            padding: 7px 10px;
            color: white;
            text-decoration: unset;
            border-radius: 10px;
            font-size: 15px;
            font-family: monospace;
        }
        .button {
            background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;"
        }
    </style>
{% endblock %}

</head>
<body style="background: #323232">

<div>
    <a style="font-family: Roboto; font-size: 56px" href="{% url 'core:index' %}">LMS</a>
</div>


{% block icon %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>
