{% extends 'base.html' %}

{#{% include 'base.html' %}#}

{% block icon %}
<div class="header">
    <h1>
        <a href="{% url 'core:index' %}" style="
            padding: 5px 10px;
            color: aqua;
            text-decoration: unset;
            border-radius: 10px;
            font-size: 56px;
            font-family: monospace;
            margin-left: 20px;
            margin-top: 20px;
            " >LMS</a>
    </h1>
</div>
{% endblock %}

{#{% block style %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}

{% block header %}
<div style="color: aqua; background: #141414" align = "center";>
    <form>
      <label >Name:</label>
      <input class="button" type="text" name="first_name"><br><br>

      <label>Number of students:</label>
      <input type="text" name="last_name" class="button"><br><br>

      <div class="background_button">
      <a href="{% url 'groups:create'%}">
        <input type="button" value="Create" class="button">

        <input type="submit" value="Search" class="button">
      </div>
    </form>

</div>
{% endblock %}

{% block content %}

<div align = "center">
    <div class="content">
        {% for group in groups %}
            <a href="{% url 'groups:edit' group.id %}"
            class="text" >
            {{ group.name }}
            {{ group.number_of_students }}
            </a>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}