{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>😜</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
    <style>
        .header {
            height: 80px;
            background: #101010;
            color: aqua;
        }
        .content {
            width: 200px;
            height: 1600px;
            background: #141414;
            color: aqua;
            margin-top: 20px;
        }
        .background_button {
            background: #4bff00;
            padding: 7px 10px;
            color: white;
            text-decoration: unset;
            border-radius: 10px;
            font-size: 15px;
            font-family: monospace;
        }.button {
            background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;"
        }
    </style>
</head>
<body>

    <form method="post">

        {% csrf_token %}

        {{form.as_p}}

        <div class="background_button">
            <input
                class="button" type="submit" value="Save">
            <a href="{% url 'groups:delete' groups.id %}" class="button" >Delete</a>
        </div>
    </form>

</body>
</html>
