<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create teachers</title>
</head>
<body style="background-image:url(https://w-dog.ru/wallpapers/15/12/478495727685011.jpg)">

    <form method="post">

        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="Create">
    </form>

</body>
</html>