{% extends 'base.html' %}

{% block content %}
    <br><br>
    <a style="background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;" href="{% url 'students:list' %}">➤ Students list</a><br><br>
    <a style="background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;" href="{% url 'students:create' %}">➤ Student create</a><br><br><br><br>
    <a style="background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;" href="{% url 'teachers:list' %}">➤ Teachers list</a><br><br>
    <a style="background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;" href="{% url 'teachers:create' %}">➤ Teacher create</a><br><br><br><br>
    <a style="background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;" href="{% url 'groups:list' %}">➤ Groups list</a><br><br>
    <a style="background:#000000;
            border: none;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-family: monospace;" href="{% url 'groups:create' %}">➤ Group create</a><br><br><br><br>
{% endblock %}
